Package: com.nahtedetihw.centeredlabels
Name: CenteredLabels
Version: 1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ethan Whited
Author: Ethan Whited
Section: Tweaks
Depends: mobilesubstrate
